userInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/office/Outlook/2006/OMS" 
xmlns:tns="http://schemas.microsoft.com/office/Outlook/2006/OMS" 
xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="tError">
        <xs:annotation>
            <xs:documentation>
                Specify a type for the error data returned by the Web service.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="code" type="xs:string" use="required" >
                    <xs:annotation>
                        <xs:documentation>
                            Predefined error code.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="severity" type="xs:string" use="optional" >
                    <xs:annotation>
                        <xs:documentation>
                            Severity of an error.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="tUserInfo">
        <xs:annotation>
            <xs:documentation>
                Specify a type for user information.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="replyPhone" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Users' mobile phone number.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="smtpAddress" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        SMTP address for receiving replies from mobile phone.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="error" type="tns:tError">
                <xs:annotation>
                    <xs:documentation>
                        Error data returned by the Web service.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="customData" type="xs:string" minOccurs="0" >
                <xs:annotation>
                    <xs:documentation>
                        Reserved for future extension.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="userInfo" type="tns:tUserInfo">
        <xs:annotation>
            <xs:documentation>
                User information returned by the Web service.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
</xs:schema>