xmsData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/office/Outlook/2006/OMS" 
xmlns:tns="http://schemas.microsoft.com/office/Outlook/2006/OMS" 
xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="tTo">
        <xs:annotation>
            <xs:documentation>
                Specify a type for recipients of the message.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="recipient" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Cell phone number as the recipient of the message.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tXmsHeader">
        <xs:annotation>
            <xs:documentation>
                Specify a type for the header part of the message data.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="scheduled" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Indicate that the message is to be sent at the specified time.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="requiredService" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Required service by the message.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sourceType" type="xs:string" minOccurs="0" >
                <xs:annotation>
                    <xs:documentation>
                        Source of the message, indicating how the message was created by the client. 
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="to" type="tns:tTo">
                <xs:annotation>
                    <xs:documentation>
                        Recipients of the message.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="subject" type="xs:string" minOccurs="0" >
                <xs:annotation>
                    <xs:documentation>
                        Subject of the message. Apply only to a multimedia message.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tUser">
        <xs:annotation>
            <xs:documentation>
                Specify a type for user information.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="userId" type="xs:string" minOccurs="0" >
                <xs:annotation>
                    <xs:documentation>
                        User's identification provided by their service provider.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="password" type="xs:string" minOccurs="0" >
                <xs:annotation>
                    <xs:documentation>
                        User's password provided by their service provider.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="replyPhone" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        User's cell phone number.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="customData" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Reserved for future extension.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tMeta">
        <xs:annotation>
            <xs:documentation>
                Specify a type for metadata.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Name of the metadata.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="content" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Content of the metadata.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="tRoot-layout">
        <xs:annotation>
            <xs:documentation>
                Specify a type for the description of the display of a cell phone.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="width" type="xs:unsignedInt" use="required" >
            <xs:annotation>
                <xs:documentation>
                    Width of the message view.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="height" type="xs:unsignedByte" use="required" >
            <xs:annotation>
                <xs:documentation>
                    Height of the message view.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="background-color" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Background color of the message view.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="tRegion">
        <xs:annotation>
            <xs:documentation>
                Specify a type for describing regions of the display of a cell phone.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="id" type="xs:string" use="required" >
            <xs:annotation>
                <xs:documentation>
                    ID of the region.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="left" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Left position of the region.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="top" type="xs:string" use="required" >
            <xs:annotation>
                <xs:documentation>
                    Top position of the region.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="width" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Width of the region.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="height" type="xs:string" use="required" >
            <xs:annotation>
                <xs:documentation>
                    Height of the region.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="tLayout">
        <xs:annotation>
            <xs:documentation>
                Specify a type for the layout definition of a multimedia message.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="root-layout" type="tns:tRoot-layout">
                <xs:annotation>
                    <xs:documentation>
                        Display definition of a cell phone in terms of screen resolution.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="region" type="tns:tRegion" maxOccurs="2">
                <xs:annotation>
                    <xs:documentation>
                        Regions definition of the display of a cell phone.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tHeader">
        <xs:annotation>
            <xs:documentation>
                Specify a type for the header part of the message data.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="meta" type="tns:tMeta" minOccurs="0" >
                <xs:annotation>
                    <xs:documentation>
                        Metadata to indicate the author of the SMIL.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="layout" type="tns:tLayout">
                <xs:annotation>
                    <xs:documentation>
                        Layout definition of a multimedia message.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tImg">
        <xs:annotation>
            <xs:documentation>
                Specify a type for image.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="src" type="xs:string" use="required" >
            <xs:annotation>
                <xs:documentation>
                    Path to the image - contentId attribute of 'content' element is used here.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="region" type="xs:string" use="required" >
            <xs:annotation>
                <xs:documentation>
                    Region for displaying the image.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="tText">
        <xs:annotation>
            <xs:documentation>
                Specify a type for plain text.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="src" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Path to the text - contentId attribute of 'content' element is used here.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="region" type="xs:string" use="required" >
            <xs:annotation>
                <xs:documentation>
                    Region for displaying the text.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="tAudio">
        <xs:annotation>
            <xs:documentation>
                Specify a type for audio.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="src" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Path to the audio - contentId attribute of 'content' element is used here.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="tPar">
        <xs:annotation>
            <xs:documentation>
                Specify a type for elements of a slide.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="img" type="tns:tImg" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Image part of a slide.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="text" type="tns:tText" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Text part of a slide.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="audio" type="tns:tAudio" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Audio part of a slide.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="dur" type="xs:unsignedInt" use="required">
            <xs:annotation>
                <xs:documentation>
                    Duration in seconds for the slide to be played.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="tBody">
        <xs:annotation>
            <xs:documentation>
                Specify a type for the body part of slide definition.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="par" type="tns:tPar" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Parts of the body part of the slide definition.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tMmsSlides">
        <xs:annotation>
            <xs:documentation>
                Specify a type for the slide definition.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="head" type="tns:tHeader" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Header part of the slide definition.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="body" type="tns:tBody">
                <xs:annotation>
                    <xs:documentation>
                        Body part of the slide definition.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tContent">
        <xs:annotation>
            <xs:documentation>
                Specify a type for the contents of the body part of the message data.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="contentType" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>
                            MIME content type of message content.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="contentId" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>
                            ID of message content.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="contentLocation" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>
                            Location of message content - path to the media file.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="tXmsBody">
        <xs:annotation>
            <xs:documentation>
                Specify a type for the body part of the message data.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="mmsSlides" type="tns:tMmsSlides" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Slide definition of the body part of the message data.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="content" type="tns:tContent" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Contents of the body part of the message data.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="format" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType name="tXmsData">
        <xs:annotation>
            <xs:documentation>
                Specify a type for the message data being transferred to the Web service.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="user" type="tns:tUser" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        User information.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="xmsHead" type="tns:tXmsHeader" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Header part of the message data.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="xmsBody" type="tns:tXmsBody">
                <xs:annotation>
                    <xs:documentation>
                        Body part of the message data.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="client" type="xs:string" >
            <xs:annotation>
                <xs:documentation>
                    Client information, such as "Microsoft Office Outlook 12.0".
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:element name="xmsData" type="tns:tXmsData">
        <xs:annotation>
            <xs:documentation>
                Message data being transferred to the Web service.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
</xs:schema>